.IngredientsTitle{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.FilterFunctions{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 5%;
    
}